<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Post</title>
    <link rel="stylesheet" href="community.css">
</head>
<body>
    <section class="communitySection">

        <form action="/" method="post">
            <label for="imageUpload">Upload Your Image</label>
            <input type="file" name="imageUpload" id="imageFileUpload" required>
            <label for="descriptionText">Describe your design</label>
            <textarea name="descriptionText" id="descriptionText" re></textarea>
            <label for="productLabel">Share us the product link</label>
            <input type="url" name="productLabel" id="productLabelLink" placeholder="https://lauda">
            <label for="checkbox">Do you agree Terms and conditions?</label>
            <input type="checkbox" name="termsAndCondition" id="tC">
            <button type="submit">Submit</button>
        </form>
        
    </section>
    <script src="community.js"></script>
</body>
</html>